
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">Projekt CEO Młodzi Przedsiębiorczy</h2>
<hr>
<center><%= image_tag('/assets/ceo/logo.jpg', width: "50%")%></center><br><br>
<p>Nasza placówka bierze udział w projekcie organizowanym przez Centrum Edukacji Obywatelskiej ,,Oby młodzież” w tematyce ,,Młodzi Przedsiębiorczy”. Po serii spotkań z naszą panią mentorką określiliśmy cel swoich działań. Za priorytet wychowankowie uznali odnowienie siłowni. Pracując metodą projektu krok po kroku dążymy do realizacji swojego planu. Chcemy nadać naszej siłowni nowego wyglądu i funkcjonalności. Do osób które nas wspierają w działaniu trzeba oprócz przedstawicieli CEO dodać panią Dyrektor Ewę Krupicką oraz nieocenionego pana Ryszarda. O rezultatach naszych działań poinformujemy już w krótce.</p>
<BR> <b><center>ZDJĘCIA</center></b>
<div class="row">
    <div class="column">
        <%= image_tag('/assets/ceo/ceo1.jpg', width: "100%")%>
    </div> 
    <div class="column">
         <%= image_tag('/assets/ceo/ceo2.jpg', width: "100%")%>
    </div> 
    <div class="column">
         <%= image_tag('/assets/ceo/ceo3.jpg', width: "100%")%>
    </div> 
    <div class="column">
         <%= image_tag('/assets/ceo/ceo4.jpg', width: "100%")%>
    </div> 
    <div class="column">
         <%= image_tag('/assets/ceo/ceo5.jpg', width: "100%")%>
    </div> 
    <div class="column">
         <%= image_tag('/assets/ceo/ceo6.jpg', width: "100%")%>
    </div> 
       </div>
       </div>
       </div>