<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">

 <h2 align="center"><%= @article.title %></h2>
 <hr>
  <%= simple_format(@article.description) %>
  <center><b><h8>ZDJĘCIA:</b></center></h8>
  <div class="row">
    <% @article.gallery.each do |image| %>
     <div class="column">
      <%= image_tag image, width: "100%" %> <br />
      </div>
<% end %>
</div>

  
  <small>Wytworzone przez: <%= @article.user.name  %>,
<%= time_ago_in_words(@article.created_at) %> temu,
Zaktualizowano: <%= time_ago_in_words(@article.updated_at) %> temu</small>

<br><%= link_to 'Powrót', articles_path, class: "btn btn-xs btn-success" %>
</div>
</div>
</div>
</div>